
 .jumbotron{
        background: url("../images/friends.jpeg") no-repeat center center;
        background-size: cover;
        color: #C34113;
        text-align: center;
    }
.survey-ques{
        width: 30%;
    }
#fullscreen{
        background: url("../images/friends.jpeg") no-repeat center center;
        background-size: cover;
    }
.match-img{
    height: 400px;
    width: auto;
}
