
 body{
    background-color: black;
 }
 .jumbotron{
        background: url("https://static.pexels.com/photos/8268/pexels-photo.jpg");
        background-size: 100%;
        background-position:50% 50%;
        color: #C34113;
        text-align: center;
    }
.survey-ques{
        width: 30%;
    }
#fullscreen{
        background: url("https://static.pexels.com/photos/246805/pexels-photo-246805.jpeg") no-repeat;
        background-size: 100%;
    }
.match-img{
    height: 400px;
    width: 500px;
}
.survey-head{
    color: #e95420;
}
.well{
    background-color:rgba(0, 0, 0, 0.5);
    color:white;
}