.jumbotron{
	background: url("https://www.pexels.com/photo/bench-chair-friends-friendship-288583/") no-repeat center center;
	background-size: cover;
	color: #fff;
	text-align: center;
}
.survey-ques{
	width: 30%;
}